html, body {
  height: 100%;
  margin: 0;
}

.error {
  color: red;
}

.signIn {

}

.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.jumbotron {
  text-align: center;
  background: none;
}

.navbar {
    background-color: #ffab99;
}

.footer {
    background-color: #ffab99;
}

.fa {
  margin: 10px;
}

.fa-facebook-square, .fa-twitter {
  color: #3b5998;
}

.fa-instagram {
  color: #ffffff;
}


