.error  {
  color: red;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

.navbar {
  margin-bottom: 20px;
  background-color: #ffab99;
}

.footer {
  background-color: #ffab99;
  margin-top: 20px;
}

.footerCol {
  padding: 20px 20px 0px 30px;
}

.fa {
  margin: 5px;
}

.fa-facebook-square, .fa-twitter {
  color: #3b5998;
}

.fa-instagram {
  color: #ffffff;
}


.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.jumbotron {
  padding-left: 50px;
  padding-right: 50px;
  background: none;
}

.form-check-label {
  /*vertical-align: baseline;*/
  vertical-align: middle;
}

.container.signin-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.card.signin-card {
  padding: 40px 0px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-img {
  padding: 0rem 2rem 2rem;
  margin: auto;
  display: block;
}

form.sigin-form {
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  color: #ffffff;
  background-color: #d64829;
  width: 100%;
  margin-bottom: 1.2rem;
}

button.checkin-prev-btn {
  color: #ffffff;
  background-color: #bababa;
  width: 50%;
  margin-bottom: 1.2rem;
}

button.checkin-nxt-btn {
  color: #ffffff;
  background-color: #d64829;
  width: 50%;
  margin-bottom: 1.2rem;
}

a.create-new-account {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 15px;
}

img.checkfinished-img {
  padding: 2rem 2rem 2rem;
  margin: auto;
  display: block;
}

.list-group-item:hover {
  background-color: #eee;
}

.list-group {
  max-width: 550px;
  margin: auto;
}

button.history-prev-btn {
  color: #ffffff;
  background-color: #bababa;
  width: 50%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

button.history-nxt-btn {
  color: #ffffff;
  background-color: #d64829;
  width: 50%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.history-btn {
  max-width: 550px;
  margin: auto;
}

.history-detail {
  max-width: 550px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button.profile-btn {
  color: #ffffff;
  background-color: #d64829;
  margin: 0.5rem;
}
.card-leaderboard {
  min-height: 600px;
}

.search-result {
  min-height: 600px;
  padding: 20px 20px 20px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.list-group-search {
  padding: 0px;
  padding: 0px;
  margin: auto;
}

.status-911 {
  color: #fc0a0a;
}

.status-311, .status-411 {
  color: #fc9208;
}

.status-OK {
  color: #53d100;
}

.welcome {
  min-height: 400px;
}

/*https://projects.lukehaas.me/css-loaders/*/
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d31717, 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.5), -1.8em -1.8em 0 0em rgba(211,23,23, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.7), 1.8em -1.8em 0 0em #d31717, 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.5), 1.8em -1.8em 0 0em rgba(211,23,23, 0.7), 2.5em 0em 0 0em #d31717, 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.5), 2.5em 0em 0 0em rgba(211,23,23, 0.7), 1.75em 1.75em 0 0em #d31717, 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.5), 1.75em 1.75em 0 0em rgba(211,23,23, 0.7), 0em 2.5em 0 0em #d31717, -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.5), 0em 2.5em 0 0em rgba(211,23,23, 0.7), -1.8em 1.8em 0 0em #d31717, -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.5), -1.8em 1.8em 0 0em rgba(211,23,23, 0.7), -2.6em 0em 0 0em #d31717, -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.5), -2.6em 0em 0 0em rgba(211,23,23, 0.7), -1.8em -1.8em 0 0em #d31717;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d31717, 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.5), -1.8em -1.8em 0 0em rgba(211,23,23, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.7), 1.8em -1.8em 0 0em #d31717, 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.5), 1.8em -1.8em 0 0em rgba(211,23,23, 0.7), 2.5em 0em 0 0em #d31717, 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.5), 2.5em 0em 0 0em rgba(211,23,23, 0.7), 1.75em 1.75em 0 0em #d31717, 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.5), 1.75em 1.75em 0 0em rgba(211,23,23, 0.7), 0em 2.5em 0 0em #d31717, -1.8em 1.8em 0 0em rgba(211,23,23, 0.2), -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.5), 0em 2.5em 0 0em rgba(211,23,23, 0.7), -1.8em 1.8em 0 0em #d31717, -2.6em 0em 0 0em rgba(211,23,23, 0.2), -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.5), -1.8em 1.8em 0 0em rgba(211,23,23, 0.7), -2.6em 0em 0 0em #d31717, -1.8em -1.8em 0 0em rgba(211,23,23, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(211,23,23, 0.2), 1.8em -1.8em 0 0em rgba(211,23,23, 0.2), 2.5em 0em 0 0em rgba(211,23,23, 0.2), 1.75em 1.75em 0 0em rgba(211,23,23, 0.2), 0em 2.5em 0 0em rgba(211,23,23, 0.2), -1.8em 1.8em 0 0em rgba(211,23,23, 0.5), -2.6em 0em 0 0em rgba(211,23,23, 0.7), -1.8em -1.8em 0 0em #d31717;
  }
}
